.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ADE25D;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover:not(.active) {
  background-color: #CFFFB3;
}

.active {
  background-color: #FCEC52;
}
