* {
  font-family: 'Roboto Serif', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#header-section {
  padding-top: 47.5vh;
  padding-bottom: 47.5vh;
  text-align: center;
}

.body-section{
  background-color: #CFFFB3;
  padding: 2rem;
  padding-top: 32vh;
  padding-bottom: 32vh;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}