* {
  font-family: 'Roboto Serif', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#header-section {
  padding-top: 47.5vh;
  padding-bottom: 47.5vh;
  text-align: center;
}

.btn {
  transition: background-color 1s;
  background-color: #ADE25D;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color: #CFFFB3;
}

.body-section{
  background-color: #CFFFB3;
  padding: 2rem;
  padding-top: 32vh;
  padding-bottom: 32vh;
}

.hornbill-sightings {
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

#map-section {
  padding-top: 15vh;
  text-align: center;
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}